version: '3.1'

services:
  redis:
    container_name: redis
    image: redis
    ports:
      - 6379:6379
    restart: always

  mysql:
    container_name: mysql
    image: mysql
    ports:
      - 3306:3306
    command:
      - '--default-authentication-plugin=mysql_native_password'
      - '--character-set-server=utf8mb4'
      - '--collation-server=utf8mb4_unicode_ci'
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: "123456"

  postgres:
    container_name: postgres
    image: postgres
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: "123456"
